<!DOCTYPE html>
{% load static %}
<html>
{% include 'default-head.html' %}
<body>
  <div id="wrapper960" class="clearfix">
    <!-- TOPLINKS -->
    {% include 'toplinks.html' %}

    <div id="header" class="clearfix shadow">
      <div id="sitetitle" class="clearfix">
	<h1><a href="#">Åker</a></h1>
      </div>
      
      <div id="nav" class="clearfix">
	<ul>
	  <li><a href="/">TILLBAKA</a></li>
	</ul>
      </div>
    </div>
    <div id="content" class="clearfix shadow">
      <div id="sidebar" class="left">
	<div class="inner">
	  <h2>Här börjar vildmarken</h2>
	  <p> Åker ligger i Södermanland inbäddat bland naturskogar och sjöar. Här lever den Svenska naturen precis som den beskrivs i sagorna. </p>
	  <p> Vårt privilegium är att kunna njuta av denna otroliga natur och vildmark, men även ansvaret för att vårda den. Tänk på att inte skräpa ner, ta med dig dina sopor hem och hjälp till att förvalta änglamarken till de som kommer efter oss. Välkommen att njuta av livet här hos oss!
	  <p> På denna sida försöker vi samla delar av den information om hur du gör för att uppleva vildmarken. Men resten är för dig att upptäcka här i vår natur! </p>
	</div>
      </div>
	<img class="imgtourism" src="{% static '/events/images/tourism1.jpg' %}" />
    </div>
 
</body>
