<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Porten till vildmarken" />
	<meta name="keywords" content="turism,fritid,sport,friluftsliv,natur,jakt,fiske,djur" />
	<meta name="author" content="Erik Lonroth" />
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" media="all" href="{% static '/events/css/inland-wood.css' %}"/>
	<script type="text/javascript" src="{% static '/events/js/jquery-1.7.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/events/js/jquery.nivo.slider.js' %}"></script>
	<title>PORTEN till vildmarken</title>
</head>

<body>
<div id="wrapper960" class="clearfix">
	<div id="toplinks">
		<ul class="toplinks_links">
			<li><a href="#">Föreningen</a></li>
			<li><a href="#">Medlemmar</a></li>
			<li><a href="#">Syfte</a></li>
			<li><a href="#">Facebook</a></li>
		</ul>
	</div>

	<div id="header" class="clearfix shadow">
		<div id="sitetitle" class="clearfix">
			<h1><a href="#">PORTEN till vildmarken</a></h1>
		</div>

		<div id="nav" class="clearfix">
			<ul>
			  <li><a href="aker">ÅKER</a></>
			  <li><a href="tourism">VILDMARKSTURISM</a></>
			  <li><a href="register-event">MER AKTIVITET</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="wrapper960" class="clearfix">
  <div id="content" class="clearfix shadow">
    <div id="sidebar" class="left">
      <div class="inner">
	<h2>Något gick fel</h2>
	<p> {{ message }} </p>
      </div>
    </div>
  </div>

</body>
</html>
