<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Porten till vildmarken" />
	<meta name="keywords" content="turism,fritid,sport,friluftsliv,natur,jakt,fiske,djur" />
	<meta name="author" content="Erik Lonroth" />
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" media="all" href="{% static '/events/css/inland-wood.css' %}"/>
	<script type="text/javascript" src="{% static '/events/js/jquery-1.7.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/events/js/jquery.nivo.slider.js' %}"></script>
	<title>PORTEN till vildmarken</title>
</head>

<body>
<div id="wrapper960" class="clearfix">
	<div id="toplinks">
		<ul class="toplinks_links">
			<li><a href="#">Föreningen</a></li>
			<li><a href="#">Medlemmar</a></li>
			<li><a href="#">Syfte</a></li>
			<li><a href="#">Facebook</a></li>
		</ul>
	</div>

	<div id="header" class="clearfix shadow">
		<div id="sitetitle" class="clearfix">
			<h1><a href="#">PORTEN till vildmarken</a></h1>
		</div>

		<div id="nav" class="clearfix">
			<ul>
			  <li><a href="aker">ÅKER</a></>
			  <li><a href="tourism">VILDMARKSTURISM</a></>
			  <li><a href="events/register-event">MER AKTIVITET</a></li>
			</ul>
		</div>
	</div>

	<div class="slider-wrapper">
		<div id="slider" class="nivoSlider">
			<img src="{% static '/events/images/slider3.jpg' %}" alt=""/>
			<img src="{% static '/events/images/slider1.jpg' %}" alt="" />
			<img src="{% static '/events/images/slider2.jpg' %}" alt="" />
			<img src="{% static '/events/images/slider0.jpg' %}" alt="" />
			<img src="{% static '/events/images/slider4.jpg' %}" alt="" />
		</div>
		<div id="content" class="clearfix shadow">
		  <div id="sidebar" class="right">
		    <div class="inner">
		      <h2>#åker tweets</h2>
		      <p>Här kommer twitterfeed</p>
		    </div>
		  </div>
		  <div id="main" class="left">
		    {% for event in events %}
		    <div id="content" class="clearfix shadow">

		      <h2> {{ event.start_date }} </h2>
		      <h3> {{ event.title }} </h3>
		      <p> 
			{% with event.location.all|first as loc %}
			Var: {{ loc }}
			{% endwith %}
		      </p>
		      <div>
			<img src="{{ event.facebookevent.facebook_cover_image_url }}" class="floatimg" alt=""/>
			<p> {{ event.description }} </p>
		      </div>
		    </div>
		    {% endfor %}
		  </div>
		</div>
	</div>
	
	<div id="extended" class="clearfix shadow">
		<div id="trio1">
			<div class="inner">
				<h3><a href="events/register-event/">Lägg in ditt eget event</a></h3>
				<p>Här kan du lägga in ditt eget event från Facebook som sen visas här på sidan.</p>
			</div>
		</div>

		<div id="trio2">
			<div class="inner">
				<h3>Vision Åker</h3>
				<p> Vildmark, Natur, Livslust, Frihet, Hälsa, Glädje, Gemenskap.</p>
			</div>
		</div>

		<div id="trio3">
			<div class="inner">
				<h3>Engagera dig i Åker</h3>
				<p>Vi vill ju såklart att du ska vara med och driva PORTEN! Prata med någon i styrelsen i så fall. Men det bästa är att delta i någon redan pågående aktivtet eller skapa en egen som du delar här på PORTEN. </p>
			</div>
		</div>
	</div>

	<div id="footer" class="shadow">
		<p>&copy; 2017 Erik Lönroth - CC-BY | <a href="http://andreasviklund.com/templates/inland-wood/">Template design</a> originally by <a href="http://andreasviklund.com/">andreasviklund.com</a><br /> </p>
	</div>
</div>

<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider();
	});
</script>
</body>
</html>
