<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Porten till vildmarken" />
	<meta name="keywords" content="turism,fritid,sport,friluftsliv,natur,jakt,fiske,djur" />
	<meta name="author" content="Erik Lonroth" />
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" media="all" href="{% static '/events/css/inland-wood.css' %}"/>
	<script type="text/javascript" src="{% static '/events/js/jquery-1.7.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/events/js/jquery.nivo.slider.js' %}"></script>
	<title>PORTEN till vildmarken</title>
</head>

<body>
  <div id="wrapper960" class="clearfix">
    <div id="toplinks">
      <ul class="toplinks_links">
	<li><a href="#">Föreningen</a></li>
	<li><a href="#">Medlemmar</a></li>
	<li><a href="#">Syfte</a></li>
	<li><a href="#">Facebook</a></li>
      </ul>
    </div>
    
    <div id="header" class="clearfix shadow">
      <div id="sitetitle" class="clearfix">
	<h1><a href="index.html">Lägg upp en aktivitet</a></h1>
      </div>
      
      <div id="nav" class="clearfix">
	<ul>
	  <li><a href="/events">TILLBAKA TILL PORTEN</a></li>
	</ul>
      </div>
    </div>
    <div id="content" class="clearfix shadow">
      <div id="sidebar" class="left">
	<div class="inner">
	  <h2>Såhär gör du</h2>
	  <p>Här lägger du upp egna aktiviteter som du vill ska visas på PORTEN till vildmarken.</p>
	  <p>Eventen hämtas automatiskt från Facebook genom du att klistrar in eventets "id" från Facebook i rutan här brevid. Kopiera id:t från länken till ditt event på Facebook. Id:t är en sifferkobination som ser ut ungefär såhär: <i>123123123123123</i></p>
	    <p>Tänk på att andra ska kunna vara med på ditt event och att det har en anknytning till Åker. </p>
	    <p>Principen är att alla events är fantastiska och godkända, men de event som inte är förenliga med PORTEN:s värdegrunder och principer tar vi bort. </p> 
	</div>
      </div>
    
      <div id="content_register" class="clearfix shadow">
	
	<form action="/events/register-event/" method="post">
	  {% csrf_token %}
	  {{ form }}
	  <input type="submit" value="Submit" />
	</form>
	<p>
	  </br>
	  <i> Lägg upp en aktivitet och få med dig andra! </i>
	</p>
	<img class="imgkanot" src="{% static '/events/images/kanoter.jpg' %}" />
      </div>
    </div>
 
</body>
