<!DOCTYPE html>
{% load static %}
<html>

{% include 'default-head.html' %}

<body>
  <div id="wrapper960" class="clearfix">
        <!-- TOPLINKS -->
    {% include 'toplinks.html' %}
 
    <div id="header" class="clearfix shadow">
      <div id="sitetitle" class="clearfix">
	<h1><a href="#">Turism i Åker</a></h1>
      </div>
      
      <div id="nav" class="clearfix">
	<ul>
	  <li><a href="/">TILLBAKA</a></li>
	</ul>
      </div>
    </div>
    <div id="content" class="clearfix shadow">
      <div id="sidebar" class="left">
	<div class="inner">
	  <h2>Välkommen hit!</h2>
	  <p> Åker ligger i Södermanland inbäddat bland naturskogar och sjöar. Som turist här i Åker upplever du den Svenska naturen som den beskrivs bara i sagorna. </p>
	  <p> Vårt privilegie är att kunna njuta av denna otroliga natur och vildmark, men även vårt ansvar är att vårda den. Tänk på att inte skräpa ner, ta med dig dina sopor hem och hjälp oss förvalta änglamarken till de som kommer efter oss. Välkommen att njuta hos oss!

	</div>
      </div>
	<img class="imgtourism" src="{% static '/events/images/tourism1.jpg' %}" />
    </div>

    <!--
      <div id="content" class="clearfix">
      <p> FISKE </p>
      <p> KANOTING </p>
      </div>
    -->
</body>
